@model WebApplication1.ViewModels.LoginViewModel;

@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = divice-width"/>
    <title>ورود</title>
</head>
<body>
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <p>
            @Html.LabelFor(model => model.UserName)
            @Html.TextBoxFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </p>
        <p>
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(Model => Model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </p>
        <p>
            @Html.LabelFor(model => model.RememberMe)
            @Html.CheckBoxFor(model => model.RememberMe)
            @Html.ValidationMessageFor(model => model.RememberMe)
        </p>
        <button type="submit" class="btn-success">ورود</button>
    </form>
    ثبت نام نکرده اید؟   <a href="@Url.Action("signUp","Home")" class="nosingup">برای ثبت نام اینجا کلیک کنید</a>
</body>
</html>
